.box {
    max-width: 620px;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0 52px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 0 16px;
}

.bun {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 16px 0 32px;
}

.element {
    gap: 8px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}

.bottom {
    gap: 40px;
    width: 100%;
    box-sizing: border-box;
    margin: 40px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.sum {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 464px;
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 0;
    padding: 0 8px 0 0;
    list-style: none;
  }
  