.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 80px 60px 80px 60px;
}

.number {
    text-shadow: 0 1px 20px rgb(15 42 62), 0 1px 20px rgb(12 12 176), 0 1px 20px rgb(133 133 223);
}

.done {
    width: 120px;
    height: 120px;
    margin-top: 60px;
}

.loader {
    width: 30px;
    height: 30px;
    margin: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #801AB3;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}