.burger_ingredients {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.burger_ingredients_list {
    height: 756px;
    box-sizing: border-box;
    margin: 40px 0 0 0;
    padding: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

}

.burger_ingredients_list::-webkit-scrollbar {
    width: 8px;
}

.burger_ingredients_list::-webkit-scrollbar-thumb {
    background: #8585AD;
}