.burger_ingredients {
    border: 1px solid #fff;
    min-width: 600px;
}

.burger_ingredients_list {
    display: flex;
    list-style-type: none;
}

.burger_ingredients_item {
    border: 1px solid white;
    list-style-type: none;
}

.burger_ingredients_bread {
    display: flex;
    list-style-type: none;
}

.burger_ingredients_bread__item{
    list-style-type: none;
}