.burger_ingredients {
    width: 600px;
}

.burger_ingredients_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px dashed white;
}


.burger_ingredients_component_list {
    list-style-type: none;
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px dashed white;
}


.burger_ingredients_component__card {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    border: 1px dashed white;
}