.box {
    margin: auto;
}

@keyframes colorChange {
    0% {
        color: black;
        border-color: black;
    }

    50% {
        color: red;
        border-color: red;
    }

    100% {
        color: black;
        border-color: black;
    }
}


.title {
    animation: colorChange 2s linear infinite;
    text-align: center;
    border: 1px solid red;
    border-radius: 7px;
    color: red;
    padding: 3px 7px;
}